* {
    box-sizing: border-box;
}

.body {
    background: url(images/background.png) no-repeat fixed top center #34313f;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0;
    color: #a39c9c;
    padding: 80px 0;
}


.row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
}

.container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.left-column{
    flex: 0 0 30%;
    max-width: 30%;
}


.left-column h1{
margin: 0 0 9px;
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    line-height: .8;
    text-transform: capitalize;
}

.left-column span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    letter-spacing: 2px;
    line-height: .8;
}

.left-column-header{
min-height: 130px;
position: absolute;
left: 0;
top: 0;
width: 100%;
}

.left-column-name{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    padding: 10px 10px;
}

.left-column svg{
    height: 150px;
    fill: #05d861;
    width: 100%;
    position: absolute;
    top: -30px;
    z-index: 2;
}

.left-column-photo {
    position: relative;
    overflow: hidden;
}

.left-column-social{
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 35px;
}



.left-column-social a {
    width: 40px;
    height: 40px;
    padding: 45px 0;
    margin: 0 16px 0 0;
    transition: all 2s
}

.left-column-social a :hover {
    width: 45px;
    
}

.left-column-skills{
    position: relative;
    margin:  10px 0;
    padding: 10px 0 10px 0;
    color: #808080;
    background-color:#201e29;
}

.left-column-contacts{
    position: relative;
    margin:  10px 0;
    padding: 10px 0 10px 0;
    color: #808080;
    background-color:#201e29
}

.left-column-languages{
    position: relative;
    padding: 10px 0;
    color: #808080;
    background-color:#201e29
}

.ul-contacts{
    margin: 0 0;
    padding: 0 0;
}

.left-column h2{
 padding: 0 15px ;
 margin: 0 0;
 color: #05d861;
}

.right-column{
    flex: 0 0 70%;
    max-width: 70%;
}

.flex-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.header{
    position: relative;
    min-height: 90px;  
    padding-inline-start: 40px;
}

.menu{
    position: relative;
    float: left;
    padding: 0 0;
    margin: 0 0;
    /* background: #201e29; */
    text-align: center;
    
}

.menu ul{
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.menu ul li {
    
    position: relative;
    float: left;
    width: 105px;
    height: 100px;
    border-color: #e3e3e3;
    border-radius: 25px;
    background-color: #201e29;
    transition: background-color 0.2s linear 0s;

}

.menu ul li a i {
    color: #05d861;
    font-size:50px;
    margin: 10px;
}

.menu-text{
    position: absolute;
    top:60%;      
    left:0;
    right:0;
    text-align: center;
    font-size: 14px;
    color: #05d861;
    text-transform: uppercase;
}


.menu ul li:hover .menu-text {
    visibility:hidden;
    background-color: #ffea00;
}

.menu ul li:hover i {
    color: #68a5ff;
    font-size: 80px;
}

.profile{
    position: relative;
    min-height: 100px;
}


.right-column-information{
    position: relative;
    padding-inline-start: 40px;
    
}

.about-myself{
    position: relative;
    padding: 15px 15px 15px 15px;
    margin: 10px 0px;
    color: #808080;
    background-color: #201e29;
}

.about-myself h2{
    padding: 0 15px ;
    margin: 0 0;
    color: #05d861;
}

code pre{
    line-height: 0.5;
}

footer div ul{
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


footer div ul li {
    
    position: relative;
    float: left;
    width: 33.33%;
    height: 100px;
    border-color: #e3e3e3;
    border-radius: 25px;
    background-color: #201e29;
    transition: background-color 0.2s linear 0s;

}

footer div ul li a {
    color: #05d861;
    font-size: 100px;
}


div {
    display: block;
}